.layout {
  width: 100%;
  max-width: 430px;
  min-width: 360px;
  height: 100dvh;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: auto;
  gap: 20px;
}

.list-item {
  height: 30px;
  background-color: grey;;

}