body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  background-color: grey;
}

#root {
  width: 100%;
  max-width: 430px;
  min-width: 360px;
  margin: 0 auto;
  height: 100dvh;
  background-color: white;
}